{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>Register</h1>
        <p>老用户请点击<a href="{% url 'account:user_login' %}">登录</a></p>
        <p>新用户请完成下面的注册操作</p>
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username_id_for_label }}" class="col-md-5 control-label">
                    Username
                </label>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>

            <div class="form-group">
                <label for="{{ form.email_id_for_label }}" class="col-md-5 control-label">
                    email
                </label>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>

            <div class="form-group">
                <label for="{{ form.password_id_for_label }}" class="col-md-5 control-label">
                    password
                </label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>

            <div class="form-group">
                <label for="{{ form.password_id_for_label }}" class="col-md-5 control-label">
                    confirm password
                </label>
                <div class="col-md-6 text-left">{{ form.password2 }}</div>
            </div>


            <div class="form-group">
                <label for="{{ profile.birth_id_for_label }}" class="col-md-5 control-label">
                    birth
                </label>
                <div class="col-md-6 text-left">{{ profile.birth }}</div>
            </div>

            <div class="form-group">
                <label for="{{ profile.phone_id_for_label }}" class="col-md-5 control-label">
                    phone
                </label>
                <div class="col-md-6 text-left">{{ profile.phone }}</div>
            </div>


            <input type="submit" class="btn btn-primary btn-lg" value="注册">
        </form>

    </div>
{% endblock %}